@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 35% 90%;
    --secondary-foreground: 231 48% 28%;
    --muted: 231 35% 92%;
    --muted-foreground: 222 47% 31%;
    --accent: 231 35% 85%;
    --accent-foreground: 231 48% 28%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --chart-1: 231 48% 48%;
    --chart-2: 180 44% 48%;
    --chart-3: 358 75% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 231 48% 48%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 47% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 25%;
    --input: 222 47% 25%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 180 44% 48%;
    --chart-3: 358 75% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
